body {
}

label {
}

input {
}

textarea {
}

#post-title {
}

.mb {
	margin-bottom: 20px;
}

#new-post-flex {
	max-width: 800px;
	width: 90%;
	display: flex;
	flex-direction: column;
}

#editor {
}

.text-input {
}
